.cards {
	.box {
		display: flex;
		.img {
			display: flex;
			align-items: center;
			flex: 1;
			img {
				width: 100%;
				height: auto;
				object-fit: contain;
			}
		}

		.content {
			display: flex;
			flex-direction: column;
			align-self: center;
			text-align: center;
			flex: 1;
			.back {
				position: relative;
				top: 60px;
				opacity: 0.2;
				color: #c59d5f;
				font-family: Inter;
				font-size: 150px;
				font-style: normal;
				font-weight: 100;
				// line-height: 225px;
				align-self: center;
				z-index: 10;
				white-space: nowrap;
			}

			.title {
				color: #000;
				font-family: Montserrat;
				font-size: 34px;
				font-style: normal;
				font-weight: 700;
				line-height: 47.94px;
				letter-spacing: 0.85px;
				text-transform: uppercase;
				margin-bottom: 33px;
			}

			.text {
				color: #000;
				font-family: Cormorant Garamond;
				font-size: 20px;
				font-style: normal;
				font-weight: 500;
				line-height: 34px;
				letter-spacing: 1px;
				max-width: 546px;
				margin: 0 auto;
				padding-bottom: 33px;
			}
			.button {
				.btn {
					color: #000;
					font-family: Montserrat;
					font-size: 14px;
					font-style: normal;
					font-weight: 700;
					line-height: 14px;
					letter-spacing: 3.5px;
					text-transform: uppercase;
					border: 1px solid #000;
					padding: 17px 70px;
				}
			}
		}
	}
}
@media (max-width: 767px) {
	.cards {
		.box {
			flex-direction: column;
			padding-bottom: 30px;

			.content {
				.back {
					font-size: 80px;
				}
			}
		}
	}
}
