.footer {
	background: #000;
	.box {
		display: flex;
		justify-content: center;
		padding: 142px 50px;
		gap: 25px;
		.item {
			flex-wrap: nowrap;
			.about {
				.title {
					color: #fff;
					font-family: Lato;
					font-size: 20px;
					font-style: normal;
					font-weight: 700;
					line-height: 30px;
					letter-spacing: 0.5px;
					text-transform: uppercase;
				}
				.text {
					color: #fff;
					font-family: Montserrat;
					font-size: 14px;
					font-style: normal;
					font-weight: 300;
					line-height: 24px;
				}
			}
			.content {
				.title {
					color: #fff;
					font-family: Lato;
					font-size: 20px;
					font-style: normal;
					font-weight: 700;
					line-height: 30px;
					letter-spacing: 0.5px;
					text-transform: uppercase;
				}
				.text {
					color: #fff;
					font-family: Montserrat;
					font-size: 14px;
					font-style: normal;
					font-weight: 300;
					line-height: 24px;
				}
				.address {
					color: #fff;
					font-family: Montserrat;
					font-size: 14px;
					font-style: normal;
					font-weight: 300;
					line-height: 24px;
				}
				.contact {
					display: flex;
					flex-direction: column;
					.mail {
						color: #fff;
						font-family: Montserrat;
						font-size: 14px;
						font-style: normal;
						font-weight: 300;
						line-height: 24px;
					}
					.phone {
						color: #fff;
						font-family: Montserrat;
						font-size: 14px;
						font-style: normal;
						font-weight: 300;
						line-height: 24px;
					}
				}
			}
			.info {
				.title {
					color: #fff;
					font-family: Lato;
					font-size: 20px;
					font-style: normal;
					font-weight: 700;
					line-height: 30px;
					letter-spacing: 0.5px;
					text-transform: uppercase;
				}
				.text {
					color: #fff;
					font-family: Montserrat;
					font-size: 14px;
					font-style: normal;
					font-weight: 300;
					line-height: 24px;
				}
			}
			.feed {
				.title {
					color: #fff;
					font-family: Lato;
					font-size: 20px;
					font-style: normal;
					font-weight: 700;
					line-height: 30px;
					letter-spacing: 0.5px;
					text-transform: uppercase;
				}
			}
		}
	}
}
@media (max-width: 767px) {
	.footer {
		.box {
			flex-direction: column;
			padding: 42px 15px;
			.item {
				text-align: center;
			}
		}
	}
}
